<div style="border-width: 1px;border-style: solid;width: 400px;">
  <p> login </p>
  <div [formGroup]="form">
    <div style="text-align: center;">
      帳號 : <input type="text" formControlName="account"/>
    </div>
    <div style="text-align: center;">
      密碼 : <input type="password" formControlName="password"/>
    </div>
  </div>
  <div style="text-align: center;">
    <button (click)="login()">登入</button>
  </div>
  <div style="text-align: center;">
    <a routerLink="/createAccount" routerLinkActive="active">建立帳號</a>
  </div>
</div>
